name: Check version & CHANGELOG bumped

on:
  pull_request:

jobs:
  check-for-version-bump:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Check for version bump
        uses: dgholz/action-check-version-bump@main
        with:
          pr-number: ${{ github.event.pull_request.number }}
